<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        html{
            font-size: 20px;
        }
        .box{
            background-color: purple;
            height: 10rem;
            width: 10rem;
        }
        [v-cloak] {
            display: none;
        }
        [v-cloak]::before{
            content: "Loading...";
        }
    </style>
    
    <script type="module">
        import {user, sayHi} from "./Assets/alert.js"

        console.log(user);
    </script>
    <script type="text/html" id="tpl-login-form">
        <form @submit.prevent="handlerSubmit">
            <h1>{{title}}</h1>
            <!-- <div>사용자 : {{model.name}}</div>
            <input type="text" :value="model.name"> -->

                <custom-input
                    v-for="(input, i) in inputs"
                    :key="i"
                    :type="input.type"
                    :value="input.value"
                    :label="input.label"
                />

            <custom-input
                type="email"
                v-model="email"
                :modelValue="email"
                :label="emailLabel"
            />
            <custom-input
                type="password"
                v-model="password"
                :label="passwordLabel"
            />
            <button>Log In</button>
        </form>

    </script>
</head>
<body>
    
    <!-- <div id="app1">
        <h3>hello Vue App1</h3>
        <main>
            <div></div>
            <nav>
                <ul>
                    <li id="0"></li>
                    <li id="1"></li>
                    <li id="2"></li>
                    <li id="3"></li>
                    <li id="4"></li>
                </ul>
            </nav>
        </main>
    </div> -->

    <div id="app2" v-cloak>
        <login-form></login-form>
        <main>
            <div>
                {{greeting}}
                <br/>
                <input
                    @keyup.enter="greet(greeting + '!!!')"
                    v-model="greeting">
                <hr/>
                
                <button @click.stop.prevent="toggleBox"> Toggle Box </button>
                <div v-if="isVisible" class="box">
                </div>
            </div>
        </main>
    </div>

    <!-- Vue-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- <script src="https://unpkg.com/vue-router@3.5.2/dist/vue-router.js"></script> -->

    <script>
        // let App2 = Vue.createApp({
        let App2 = Vue.createApp({
            data() {
                return {
                    greeting: 'Hello Vue 3!',
                    isVisible: false,
                }
            },
            methods: {
                toggleBox(){
                    this.isVisible = !this.isVisible;
                },
                greet(greeting){
                    console.log(greeting);
                }
            },
        })

        App2.component('login-form', {
            template:'#tpl-login-form',
            components:['custom-input'],
            data(){
                return {
                    title: 'Login Form',
                    inputs:[
                        {
                            label:'EmailLabel',
                            value:'',
                            type:'email'
                        },
                        {
                            label:'PasswordLabel',
                            value:'1234',
                            type:'password'
                        },
                    ],
                    email: 'test_1st',
                    password: '',
                    emailLabel: 'Enter Email',
                    passwordLabel: 'Password',
                    // model:{
                    //     name:'Kim',
                    //     age:30,
                    // }
                }
            },
            methods: {
                handlerSubmit(){
                    console.log(this.inputs[0].value, this.password)
                }
            },
            computed: {
                // modelName : {
                //     get(){
                //         return this.model.name;
                //     }
                // }
            },
        })
        App2.component('custom-input',{
            template : `
                    <label>
                        {{label}}
                        <input :type="type" v-model="value" >
                    </label>
            `,
            props: ['label','modelValue','type','value'],
            computed: {
                inputValue:{
                    get(){
                        return this.modelValue;
                    },
                    set(value){
                        this.$emit('update:modelValue', value + 'wow')
                    }
                }
            },
            // data() {
            //     return {
            //         inputValue: ''
            //     }
            // },
        })

        App2.mount('#app2');
    </script>
</body>
</html>