:root {
  --height-card: 21.875rem;
  --transition-delay-card: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
